<div class="hero-unit">
  <h1>Welcome to WhoSaid.</h1>
  <p>A place to keep track of cute things your kid says.</p>
  <div class="well pagination-centered ">
    <button class="btn btn-success btn-large" type="button">Create An Account</button>
    -- or --
    <button id="welcome-login" class="btn btn-primary btn-large" type="button">Login</button>
  </div>
</div>
